
	</head>
		<style>
		
		table {
			border: 1px solid silver;
		}
		td:hover {
			background-color: yellow;
			color:black;	
		}
		tr, th {
			background-color: black;
			color: cornstalk;
		}
		tr, td {
			background-color: darkgreen;
			color:white;
		}	
			
		</style>
	</head>		
	
</html>	